# IRC
TWITCH_CHANNEL_NAME="lirik"

# DRIZZLE CONNECTION STRING
DATABASE_URL="postgres://postgres:postgres@localhost:5432/subsundayDrizz"

# WEBSOCKETS
SOCKET_ORIGIN="http://localhost:3000"
SOCKET_PORT=3001

# SUBSUNDAY PERIOD
TIMEZONE="America/New_York"
FROM_DAY=0
FROM_TIME="00:00"
TO_DAY=6
TO_TIME="22:00"

#STEAM https://steamcommunity.com/dev/apikey
STEAM_WEB_API_KEY=""